.photo {
    max-width: 50px;
}

.info {
    display: flex;
    align-items: center;
    // justify-content: center;
}
.info-item {
display: flex;
align-items: center;

}

.subtitle {
    font-size: 15px;
}